.features {
  box-sizing: border-box;
  padding: 0 20px 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
    padding: 0;
    padding-top: 7px;
    counter-reset: feature;
  }

  @media (min-width: $desktop-width) {
    padding: 4px 110px;
  }
}

.features__header {
  @include section-header;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.features__list {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1298px;
  }
}

.features__item {
  @include common-text;
  box-sizing: border-box;
  min-height: 60px;
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 50%;
    padding: 46px 30px 50px;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    min-height: 240px;
    padding: 46px 0 50px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    float: left;
    margin-right: 20px;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $green;

    @media (min-width: $tablet-width) {
      float: none;
      width: 80px;
      height: 80px;
      margin-bottom: 33px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      z-index: -1;
      top: 135px;
      left: 143px;
      counter-increment: feature;
      content: counter(feature);
      font-family: $oswald-regular;
      font-size: 281px;
      color: #f2f2f2;
    }

    @media (min-width: $desktop-width) {
      left: 117px;
    }
  }

  &_iconed_leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &_iconed_powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &_iconed_dining {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &_iconed_clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}

.features__description {
  @media (min-width: $tablet-width) {
    width: 245px;
  }
}
