.main-navigation {
  margin-left: auto;

  @media (min-width: $desktop-width) {
    max-width: 50%;
  }
}

.main-navigation__list {
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    border-top: none;
  }
}

.main-navigation__item {
  @media (min-width: $tablet-width) {
    margin-left: 35px;

    &:first-child {
      margin: 0;
    }
  }
}

.main-navigation__link {
  position: relative;
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  font-family: $oswald-medium;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $greyDarker;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    font-family: $oswald-regular;
    font-size: 18px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.main-navigation__link_active {
  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      display: block;
      bottom: 10px;
      width: 100%;
      height: 2px;
      background-color: $green;
    }

    @media (min-width: $desktop-width) {
      background-color: #ffffff;
    }
  }
}
