.menu-button {
  display: block;
  width: 24px;
  height: 41px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;

  &_opened {
    background-image: url("../img/icon-close.svg");
  }

  &_closed {
    background-image: url("../img/icon-mobile-menu.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
