.owner-data {
  margin-bottom: 27px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.owner-data__header {
  @include fieldset-header;
  @include line-around;

  &::before {
    @media (min-width: $tablet-width) {
      top: 20px;
    }
  }

  &::after {
    top: 14px;

    @media (min-width: $tablet-width) {
      top: 20px;
    }
  }
}

.owner-data__header-container {
  width: 181px;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.owner-data__inputs-list {
  list-style: none;
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 17px 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: $desktop-width;
    margin: 0 auto;
    padding: 17px 40px;
  }
}

.owner-data__input-item {
  @include inputs-list-item;

  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
  }
}

.owner-data__label {
  @include form-text;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 21px;
  }
}

.owner-data__input {
  @include text-input;
  padding-right: 45px;
}

.owner-data__input-icon {
  position: absolute;
  fill: #222222;

  &_mail {
    right: 15px;
    top: 15px;

    @media (min-width: $tablet-width) {
      top: 20px;
    }
  }

  &_phone {
    right: 14px;
    top: 14px;

    @media (min-width: $tablet-width) {
      top: 18px;
    }
  }
}

.owner-data__input:focus ~ .owner-data__input-icon {
  fill: $green;
}
