.page {
  position: relative;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;

  &_background {
    &::after {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        width: 50%;
        height: 696px;
        background-color: #65a93c;
        background-image: url("../img/index-background-desktop@1x.jpg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
