.page {
  position: relative;
  min-width: 320px;
  background-color: #ffffff;

  &_background {
    &::after {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        width: 50%;
        height: 696px;
        background-color: #65a93c;
        background-image: url("../img/index-background-desktop@1x.jpg");
        background-size: 720px 696px;
        background-repeat: no-repeat;
        background-position: center;

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/index-background-desktop@2x.jpg");
        }
      }
    }
  }
}
