.products {
  @media (min-width: $desktop-width) {
    padding: 0 70px;
  }
}

.products__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
  }
}

.products__item {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px 24px;
  border-top: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 0 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    padding: 0 40px;
  }
}

.products__show-more {
  border-bottom: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-end;
    border: none;
  }
}
