.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  border-top: 1px solid #ededed;


  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-end;
    min-height: 540px;
    border-top: none;
    width: 45%;
    padding: 0 40px 40px;
    background-image: linear-gradient(to top, #f2f2f2 0, #f2f2f2 431px, transparent 431px, transparent 100%);
  }

  @media (min-width: $desktop-width) {
    width: 23%;
  }
}

.product-card__container {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.product-card__name {
  @include product-header;

  @media (min-width: $tablet-width) {
    width: auto;
    text-align: center;
  }
}

.product-card__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-top: auto;
  }
}

.product-card__data {
  width: 100%;
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $greyDark;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.product-card__property {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__value {
  text-align: right;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__button {
  width: 100%;
}
