.program-picking {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.program-picking__container {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.program-picking__fieldset {
  border: none;
}

.program-picking__input-item {
  display: flex;
  flex-wrap: wrap;
}

.program-picking__description {
  @include form-text;
  text-transform: uppercase;
}

.program-picking__field-description {
  @include form-text;
  text-transform: uppercase;
}

.program-picking__text-field {
  padding: 10px;
  border: 1px solid #e6e6e6;
  flex-grow: 1;

  &::placeholder {
    @include form-text;
    text-transform: uppercase;
  }
}

.program-picking__radio {
  @include form-text;
  text-transform: uppercase;
}

.program-picking__fieldset-header {
  font-family: $oswald-regular;
  font-size: 24px;
  line-height: 24px;
}

.program-picking__comment-field {
  height: 150px;
  border: 1px solid #e6e6e6;
  resize: none;
  width: 100%;

  &::placeholder {
    @include form-text;
    text-transform: uppercase;
  }
}

.program-picking__footnote {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  color: $greyDark;
}
