.program-picking {
  padding: 0;
  margin-bottom: 33px;
}

.program-picking__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 42px;
    padding: 0 110px;
  }
}

.program-picking__fieldset {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.program-picking__description {
  @include form-text;
  margin: -3px 0 41px;
  padding: 0 20px;
  font-size: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 325px;
    margin-left: 50px;
    margin-top: 68px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 90px;
  }
}

.program-picking__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    padding-left: 110px;
    padding-right: 210px;
  }
}

.program-picking__order-button {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 67px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-right: 80px;
  }
}

.program-picking__footnote {
  margin: 20px 0;
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  color: $greyDark;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    text-align: left;
  }
}
