.program {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  background-color: $grey;

  &:last-child {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      padding-right: 315px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 40px;
      margin-bottom: 30px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 62px;
    padding-right: 280px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 47%;
    padding-right: 40px;
  }

  &::after {
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $green;

    @media (min-width: $tablet-width) {
      top: 91px;
      left: auto;
      right: 62px;
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }
}

.program_iconed_slim {
  &::after {
    top: 21px;
    left: 23px;
    width: 50px;
    height: 50px;
    background-image: url("../img/icon-cat-slim.svg");

    @media (min-width: $tablet-width) {
      top: 79px;
      left: auto;
      right: 92px;
      width: 140px;
      height: 194px;
    }

    @media (min-width: $desktop-width) {
      top: 41px;
      left: 66px;
      width: 70px;
      height: 97px;
    }
  }
}

.program_iconed_pro {
  &::after {
    top: 24px;
    left: 13px;
    width: 67px;
    height: 50px;
    background-image: url("../img/icon-cat-pro.svg");

    @media (min-width: $tablet-width) {
      top: 135px;
      left: auto;
      right: 28px;
      width: 268px;
      height: 112px;
    }

    @media (min-width: $desktop-width) {
      top: 69px;
      left: 34px;
      width: 134px;
      height: 56px;
    }
  }
}

.program__header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  margin: 0;
  font-family: $oswald-regular;
  font-size: 24px;
  line-height: 37px;
  color: $greyDarker;
  text-transform: uppercase;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    margin: 15px 0;
    font-size: 36px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 160px;
    margin-bottom: 65px;
  }
}

.program__description {
  @include common-text;
  padding: 20px 0;
  margin: 0;

  &::after {
    content: "";
    display: block;
    height: 1px;
    margin-top: 20px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      height: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
  }
}

.program__link-to-catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: $oswald-regular;
  color: $greyDarker;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 11px;
    margin-left: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      margin-left: 26px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::after {
    width: 32px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
