.promo {
  box-sizing: border-box;
  position: relative;
  padding: 27px 0 22px;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #63a73a 0, #63a73a 305px, #ffffff 305px, #ffffff 100%);
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  font-family: $oswald-regular;
  color: #ffffff;
  text-align: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(to bottom, #63a73a 0, #63a73a 305px, #ffffff 305px, #ffffff 100%);
  }

  @media (min-width: $tablet-width) {
    width: 610px;
    padding-left: 120px;
    padding-bottom: 530px;
    background: none;
    color: $greyDarker;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 268px;
  }
}

.promo__header {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.promo__motto {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
  width: 280px;
  height: auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    width: 709px;
    left: 29px;
    top: 230px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    top: -33px;
    left: 490px;
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 245px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}
