.show-more {
  box-sizing: border-box;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 540px;
    padding: 0 40px 40px;
    border: none;
  }
}

.show-more__expand-button {
  @include product-header;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-image: url("../../img/icon-plus-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.show-more__description {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $greyDark;
}
