.show-more {
  box-sizing: border-box;
  text-align: center;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 432px;
    padding: 53px 38px 40px;
    border: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 37px 40px;
  }
}

.show-more__expand-button {
  @include product-header;

  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
  }

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 23px;
    background-image: url("../../img/icon-plus.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      margin-bottom: 50px;
    }
  }
}

.show-more__description {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $greyDark;
  margin: 7px 5px 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 7px 0 84px;
  }
}
