.slider {
  position: relative;
  background-image: linear-gradient(to top, transparent 0, transparent 462px, #ffffff 462px, #ffffff 100%), linear-gradient(to right, #f2f2f2 0, #f2f2f2 50%, #eaeaea 50%, #eaeaea 100%);

  @media (min-width: $desktop-width) {
    padding-right: 77px;
  }
}

.slider__list {
  position: relative;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 22px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 680px;
    margin-bottom: 0;
  }
}

.slider__item {
  text-align: center;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding-bottom: 110px;
    background-color: transparent;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 131px;
  }

  &_before {
    position: relative;
    z-index: 2;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to top, #f2f2f2 0, #f2f2f2 462px, #ffffff 462px, #ffffff 100%);
      width: 50%;
      overflow: hidden;
    }

    @media (min-width: $desktop-width) {
      width: 53%;
    }
  }

  &_after {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to top, #eaeaea 0, #eaeaea 462px, #ffffff 462px, #ffffff 100%);
    }
  }
}

.slider__image {
  width: 320px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.slider__controls {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    bottom: 67px;
    font-size: 20px;
    margin-top: -17px;
  }

  @media (min-width: $desktop-width) {
    right: 18px;
  }
}

.slider__control {
  display: block;
  width: 50%;
  height: 6px;
  border-radius: 3px;
  background-color: $green;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -14px;
    left: calc(50% - 16px);
    width: 8px;
    height: 8px;
    border: 12px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cecece, 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px #cecece, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 0 0 1px $green, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

.slider__button {
  position: relative;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-family: $oswald-regular;
  font-size: 16px;
  line-height: 20px;
  color: $greyDarker;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 7px 0;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-image: repeating-linear-gradient(to right, #bebebe 0, #bebebe 1px, transparent 1px, transparent 2px);
    }
  }

  &:hover::after,
  &:focus::after {
    @media (min-width: $tablet-width) {
      background-image: none;
      background-color: #bebebe;
    }
  }

  &:active::after {
    @media (min-width: $tablet-width) {
      background-image: none;
      background-color: transparent;
    }
  }
}

.slider__progress-bar {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  margin-left: 15px;
  margin-right: 10px;
  padding: 0 5px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    margin-left: 23px;
    margin-right: 22px;
    background-color: #dcdcdc;
  }
}
