.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 4px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: auto;
    border: none;
  }
}

.social-list__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  fill: #3e4242;

  &:hover svg,
  &:focus svg {
    fill: $green;
  }

  &:active svg {
    fill-opacity: 0.3;
  }
}

.social-list__button svg {
  @media (min-width: $tablet-width) {
    transform: scale(1.4);
  }
}
