@mixin common-text {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $greyDark;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin section-header {
  font-family: $oswald-regular;
  font-size: 36px;
  line-height: 36px;
  color: $greyDarker;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

@mixin product-header {
  font-family: $oswald-regular;
  font-size: 16px;
  line-height: 20px;
  color: $greyDarker;
  text-transform: uppercase;
}

@mixin form-text {
  font-family: $oswald-regular;
  font-size: 16px;
  line-height: 18px;
  color: $greyDarker;
}
