$oswald-medium: "Oswald Medium", "Arial", sans-serif;
$oswald-regular: "Oswald Regular", "Arial", sans-serif;
$arial: "Arial", sans-serif;
$green: #68b738;
$grey: #f2f2f2;
$grey-header: #111111;
$grey-text: #444444;
